/*Color variables*/

$dark-grey:  #777;
$turqoise: #58e1c1;
$white: #fff;
$sky-blue: #51ddfc;
$light-red: #e4757a;
$light-purple: #927bc1;
$light-green: #63cc82;
$light-orange: #fd7856;

/* Media query breakpoint variable*/
$md: 768px;
