/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    @include media-query($md) {
      padding: 10px 30px;
    }
    & + .btn {
      @include media-query($md) {
        margin-left: 10px;
      }
    }
  }
  
  .default {
    background-color: $color-1;
  }
  
  .error {
    background-color: $color-2;
  }
  
  .info {
    background-color: $color-3;
  }
  
  .success {
    background-color: $color-4;
  }
  
  .warning {
    background-color: $color-5;
  }