/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
    padding: 0 10px;
    @include media-query($md) {
      max-width: 1400px;
      display: $bl;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  .row {
    display: flex;
    flex-direction: column;
    padding: 1em 10px;
    @include media-query($md) {
      flex-direction: row;
    }
  }

  .centered {
    @include media-query($md) {
      display: $bl;
      margin-left: auto;
      margin-right: auto;
    }
   }
  
  [class^=col] {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;
    @include media-query($md) {
      display: flex;
      justify-content: center;
      margin-top: 0;
      align-items: center;
    }
    & + & {
      @include media-query($md) {
        margin-left: 10px;
      }
    }
  }
  
  .theme.col-1 {
    background-color: $color-3;
    @include media-query($md) {
      flex-basis: 8.33%;
    }
  }
  
  .theme.col-2 {
    background-color: $color-5;
    @include media-query($md) {
      flex-basis: 16.67%;
    }
  }
  
  .theme.col-3 {
    background-color: $color-6;
  }
  
  .col-3 {
    @include media-query($md) {
      flex-basis: 25.00%;
    }
  }

  .theme.col-4 {
    background-color: $color-7;
  }

  .col-4 {
    @include media-query($md) {
      flex-basis: 33.33%;
    }
  }
  
  .theme.col-5 {
    background-color: $color-8;
    @include media-query($md) {
      flex-basis: 41.67%;
    }
  }
  
  .theme.col-6 {
    background-color: $color-9;
    @include media-query($md) {
      flex-basis: 50.00%;
    }
  }
  
  .theme.col-7 {
    background-color: $color-10;
    @include media-query($md) {
      flex-basis: 58.33%;
    }
  }
  
  .theme.col-8 {
    background-color: $color-11;
  }

  .col-8 {
    @include media-query($md) {
      flex-basis: 66.67%;
    }
  }
  
  .theme.col-9 {
    background-color: $color-2;
  }

  .col-9 {
    @include media-query($md) {
      flex-basis: 75.00%;
    }
  }
  
  .theme.col-10 {
    background-color: $color-4;
    @include media-query($md) {
      flex-basis: 83.33%;
    }
  }
  
  .theme.col-11 {
    background-color: $color-1;
    @include media-query($md) {
      flex-basis: 91.67%;
    }
  }
  
  .theme.col-12 {
    background-color: $color-12;
    @include media-query($md) {
      flex-basis: 100%;
    }
  }
  
  .card {
    flex-basis: 100%;
  }